<div class="toolbar">
  <h1 id="pageTitle">
    Current Location
  </h1>
</div>

<div class="panel" selected="true">

<table class="grid">
  
  <tr>
    <td class="gridleft">Latitude</td>
    <td class="gridright" id="latitude_td"><%= @location.latitude.to_s %></td>
  </tr>
  
  <tr>
    <td class="gridleft">Longitude</td>
    <td class="gridright" id="longitude_td"><%= @location.longitude.to_s %></td>
  </tr>

</table>
</div>

